<footer id="main-footer">
    <div class="container">
        <div class="row">
            <div class="col-md-4 hidden-sm hidden-xs">
                <h2 class="text-center">
                    <a href="https://twitter.com/selbekk">@selbekk</a>
                </h2>
                <p>
                    This project is created, maintained and kept alive by
                    Kristofer Selbekk, just for fun. Check out my
                    <a href="https://github.com/selbekk">Github</a> and
                    <a href="https://twitter.com/selbekk">Twitter</a> if you
                    feel so inclined.
                </p>
            </div>
            <div class="col-md-8">
                <h2>This is a complete labor of love</h2>
                <p>
                    I'm doing this project to learn a few new technologies, not
                    to make money. If you feel compelled to donate, do so to
                    your favorite charity.
                </p>
                <p>
                    <strong>I'd still love your input though!</strong>
                    Please file issues on <a href="https://github.com/selbekk/housing-association">Github</a>
                    and leave your feedback there. The more interest I get, the
                    more fun this gets to work with :)
                </p>
            </div>
        </div>
    </div>
</footer>
