<!DOCTYPE html>
<html>
    <head>
        {{> header }}
        <link rel="stylesheet" href="/css/default.css" />
    </head>
    <body>
        {{{ body }}}
        {{> footer }}
    </body>
</html>
