<!DOCTYPE html>
<html>
    <head>
        {{> header }}
        <link rel="stylesheet" href="/css/default.css" />
    </head>
    <body>
        <div class="container">
            {{{ body }}}
        </div>
        {{> footer }}
    </body>
</html>
