<div class="in-yo-face">
    <div class="container-fluid">
        <section class="row row-splash" id="top-header">
            <div class="container">
                <h2>say hello to</h2>

                <h1>neighborhood</h1>
            </div>
        </section>
        <section class="row row-lead">
            <div class="col-sm-12">
                <div class="wrap">
                    <p>
                        Neighborhood is a simple, free service to
                        <strong>bring together neighbors</strong>
                        in your building, cooperative or housing association.
                    </p>
                    <a href="/signup" class="btn btn-cta">Try it out!</a>
                </div>
            </div>
        </section>
        <div class="container">
            <section class="row row-info">
                <div class="col-sm-6 col-sm-push-6 hidden-xs">
                    <img src="http://placeimg.com/640/480/any" alt="A corkboard of emotion"/>
                </div>
                <div class="col-sm-6 col-sm-pull-6">
                    <h2>No more corkboards</h2>

                    <p>
                        Stay in the loop by an information feed created by your very own
                        next-door neighbors. Neighborhood offers a way for a community
                        to communicate without being more intrusive than the old
                        announcement board downstairs.
                    </p>
                </div>
            </section>

            <section class="row row-info">
                <div class="col-sm-6 hidden-xs">
                    <img src="http://placeimg.com/640/480/any" alt="An intense dugnad"/>
                </div>
                <div class="col-sm-6">
                    <h2>Plan events</h2>

                    <p>
                        Need to get together for a good ol'
                        <abbr title="A voluntary get-together of good neighbors to clean up the neighborhood">
                            dugnad</abbr>? Having a house warming party? Whatever it is, you
                        can get together and plan events for your whole neighborhood.
                    </p>
                </div>
            </section>
        </div>
        <section class="row row-cta row-mail">
            <div class="col-md-12">
                <h2>Want to know when we launch?</h2>

                <p>
                    We're not quite ready yet, but we'll let you know with an email if you want us to.
                </p>

                <form id="signup-email">
                    <input type="email" name="email" placeholder="your email address"/>
                </form>
                <p class="disclaimer">
                    You'll get exactly <strong>one</strong> e-mail from us when we got something for you to test out!
                </p>
            </div>
        </section>
    </div>
</div>
<script src="/bower_components/jquery/dist/jquery.js"></script>
<script src="/js/newsletter-signup.js"></script>